.navbar__red-bar {
  background-color: red;
  height: 150px;
}

.navbar__black-line {
  background-color: black;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__circle {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 4px solid black;
}
