#root {
  margin: 0;
}

.loading {
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results {
  color: black;
  font-size: 30px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.no-results__button {
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: #d2d2d2;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.no-results__button:hover {
  background-color: #bfbfbf;
  cursor: pointer;
}

.app__pokeball-theme {
  background-color: red;
  height: 150px;
}

.app__black-line {
  background-color: black;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__circle-in-middle {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 4px solid black;
}

.filtering-gap {
  margin: 50px auto;
  height: 50px;
  width: 85%;
}

.favorite-button {
  background-color: lightgrey;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  color: black;
  cursor: pointer;
}

.app__rpp-container {
  display: inline-block;
  background-color: lightgray;
  margin: 5px;
  height: 30px;
  border-radius: 10px;
  align-content: center;
}

.app__rpp-text {
  display: inline;
  font-size: small;
  width: 50px;
  color: black;
  margin-right: 10px;
  margin-left: 20px;
}

.app__rpp-select {
  display: inline;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 100px;
}

.app__fbc-container {
  display: inline-block;
  background-color: lightgray;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  align-content: center;
}

.app__fbc-text {
  display: inline;
  font-size: small;
  width: 50px;
  color: black;
  margin-right: 10px;
  margin-left: 20px;
}

.app__fbc-select {
  display: inline;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 100px;
}

.app__main-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: auto;
  width: 85%;
}

.app__page-system {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.app__prev-page-button {
  margin-right: 10px;
}

.app__current-page {
  margin: 0 10px;
  color: black;
}

.app__next-page-button {
  margin-left: 10px;
}
