#root {
  margin: 0;
}

.loading {
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results {
  color: black;
  font-size: 30px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.no-results__button {
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: #d2d2d2;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.no-results__button:hover {
  background-color: #bfbfbf;
  cursor: pointer;
}

.app__main-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: auto;
  width: 85%;
}

.app__pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.app__filtering-container {
  display: flex;
  flex-direction: column;
  color: black;
}

.app__filtering-text {
  font-size: 16px;
  color: #6c6c6c;
}

.app__searchbar-filter-wrapper {
  width: 85%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.app__filter-wrapper {
  display: flex;
  gap: 1em;
}

.app__form-wrapper {
  width: 25%;
  @media (max-width: 1200px) {
    width: 40%;
  }
  @media (max-width: 850px) {
    width: 100%;
  }
}
